HTTP_PORT=8080

DB_HOST=pgpool
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=eskrim

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=redis_pass
COOKIE_SECURE=false

S3_ENDPOINT=seaweedfs:8333
S3_PUBLIC_URL=http://localhost:8333 # Langsung tembak ke port S3 di host
ACCESS_KEY_ID=tpa_onsite
SECRET_ACCESS_KEY=tpa_onsite
BUCKET_NAME=eskrim

# Authentication
JWT_SECRET=super_secret_key
